{{ define "avahi_host" }}
{{.IP}}     {{.HOST}}
{{ end }}

{{- range $opt, $services := services | groupByMulti "rap.host" ","}}
{{- $parts := split $opt "=>"}}
{{- $host := first $parts | trim }}
{{- $dest := last $parts | trim }}
{{- $destParts := split (when (ne $host $dest) $dest ":") ":" }}
{{- $destProto := first $destParts }}
{{- $destPort := last $destParts }}

{{range $service := $services}}
{{- $addrLen := len $service.Ports }}
{{- $avahiName := trimSuffix $host ".local" }}
{{- if eq $host $avahiName}}
{{- else }}
    {{- template "avahi_host" (dict "HOST" $avahiName "IP" "192.168.178.88") }}
{{ end -}}
{{- end -}}
{{- end }}
