{{- $Default_email := or (env "DEFAULT_EMAIL") "foo@bar.com" -}}

LETSENCRYPT_CONTAINERS=(
{{- range $host, $services := services | groupByMulti "rap.le_host" "," -}}
{{- range $service := $services -}} 
'{{ formatClean $host }}' {{ end -}}{{- end -}}
{{- range $host, $conts := host.Containers | groupByMultiFilter "" "rap.le_host" "," -}}
'{{ formatClean $host }}' {{ end -}}

)

{{ range $host, $services := services | groupByMulti "rap.le_host" "," -}}

{{- range $service := $services }}
{{- $cid := formatClean $host }}

LETSENCRYPT_{{$cid}}_HOST=( '{{$host}}' )
LETSENCRYPT_{{$cid}}_EMAIL="{{.Labels.GetValue "rap.le_email" $Default_email}}"
LETSENCRYPT_{{$cid}}_TEST="{{.Labels.GetValue "rap.le_test"}}"

{{- end -}}
{{- end -}}

{{ range $host, $conts := host.Containers | groupByMultiFilter "" "rap.le_host" "," }}
{{- $first_cont := first $conts }}
{{- $cid := formatClean $host }}

LETSENCRYPT_{{$cid}}_HOST=( '{{$host}}' )
LETSENCRYPT_{{$cid}}_EMAIL="{{ $first_cont.Labels.GetValue "rap.le_email" $Default_email}}"
LETSENCRYPT_{{$cid}}_TEST="{{ $first_cont.Labels.GetValue "rap.le_test"}}"

{{- end -}}