{{- $Default_email := or (env "DEFAULT_EMAIL") "foo@bar.com" -}}

LETSENCRYPT_CONTAINERS=(
{{- range $host, $services := services | groupByMulti "rap.le_host" "," -}}
{{- range $service := $services -}} 
'{{$service.Name}}' {{ end -}}{{- end -}}
{{- range $host, $conts := host.Containers | groupByMultiFilter "" "rap.le_host" "," -}}
'{{(first $conts).Name}}' {{ end -}}

)

{{ range $host, $services := services | groupByMulti "rap.le_host" "," -}}

{{- range $service := $services }}

LETSENCRYPT_{{$service.Name}}_HOST=( '{{$host}}' )
LETSENCRYPT_{{$service.Name}}_EMAIL="{{.Labels.GetValue "rap.le_email" $Default_email}}"
LETSENCRYPT_{{$service.Name}}_TEST="{{.Labels.GetValue "rap.le_test"}}"

{{- end -}}
{{- end -}}

{{ range $host, $conts := host.Containers | groupByMultiFilter "" "rap.le_host" "," }}
{{- $first_cont := first $conts }}

LETSENCRYPT_{{$first_cont.Name}}_HOST=( '{{$host}}' )
LETSENCRYPT_{{$first_cont.Name}}_EMAIL="{{ $first_cont.Labels.GetValue "rap.le_email" $Default_email}}"
LETSENCRYPT_{{$first_cont.Name}}_TEST="{{ $first_cont.Labels.GetValue "rap.le_test"}}"

{{- end -}}